/*

	Proyecto: AngularJS - Asignatura Multimedia - UDO Núcleo Sucre

	Diseñado y maquetado por: @01Comandos

	Fecha: 03/07/2015;

-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
body{
	font-size: 16px;
}

@font-face {
    font-family: 'Bebas-Bold';
    src: url('../fonts/BebasNeueBold.otf');
}

@font-face {
    font-family: 'Bebas-Regular';
    src: url('../fonts/BebasNeueBook.otf');
}

@font-face{
	font-family: 'Nexa-Bold';
	src: url('../fonts/NexaBold.otf');
}

@font-face{
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold.ttf');
}

@font-face{
	font-family: 'CrimsonText-Roman';
	src: url('../fonts/CrimsonText-Roman.ttf');
}

@font-face{
	font-family: 'CrimsonText-Semibold';
	src: url('../fonts/CrimsonText-Semibold.ttf');
}


/*
	HEADER PRINCIPAL
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/

.bandera{
	margin-top: 1.2em;
}

.bandera img{
	border-radius: 50%;
	height: 2.5em;
	width: 2.5em;
}

/*
	INDEX
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/

.header-general{
	background: url('../img/pc-background.jpg');
	height: 550px;
	margin-top: -4.7em;
}

.level-curso,
.mensaje-invitar{
	display: inline-block;
}

.level-curso{
	margin-top: 13%;
}

.escudo-angular img{
	width: 10em;
}

.texto1 img{
	margin-top: -2em;
}

.texto1 span{
	color: #FFFFFF;
	font-family: 'Bebas-Regular';
	font-size: 3em;
}

.texto2,
.texto3{
	margin-top: -0.5em;
}

.texto2 span{
	color: #FFFFFF;
	font-family: 'Bebas-Bold';
	font-size: 3.5em;
}

.texto3{
	width: 35em;
	color: #FFFFFF;
	text-align: left;
}

.empezar{
	margin-top: 0.8em;
}

.empezar a{
	color: #FFFFFF;
	font-family: 'Nexa-Bold';
	font-size: 1em;
	text-decoration: none; 
	background: #ff4842;
	padding: 0.7em;
	border-radius: 3px;
	border-bottom: 4px solid #b2322e;
}

/*** MENU INDEX ***/

.menu-index{
	background: #f4f4f4;
}

.menu-index li{
	display: block !important;
	font-family: 'Lato-Bold';
	font-size: 1em;
	padding: 0.5em 0.5em 0.5em 1.5em;
}

.menu-index li a{
	border-bottom: 0 !important;
	color: #000000;
	text-align: left !important;
	width: 13em;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background-color: #ff4842 !important;
	border: 0 !important; 
	color: #FFFFFF;
}

.download-angular{
	text-align: center;
	margin-top: 2em;
}

.download-angular a{
	background: #fec752;
	border-bottom: 4px solid #e29813;
	border-radius: 3px;
	color: #000000;
	font-family: 'Nexa-Bold';
	font-size: 1em;
	padding: 0.6em;
}

.download-angular a:hover{
	text-decoration: none;
	background: #e29f27;
}

/*** FIN MENU INDEX ***/

/*** TEXTOS INDEX ***/

.textos-teoriaAngular p,
.text p{
	font-family: 'CrimsonText-Roman';
	font-size: 1.5em;
	color: #515151;
	text-align: justify;
	line-height: 1.6em;
}

#mg-p{
	margin-top: 1.5em;
}

#tag-azul{
	font-family: 'CrimsonText-Semibold';
	color: #29abe2;
}

#tag-oscuro{
	font-family: 'CrimsonText-Semibold';
	color: #333333;
}

.codigo{
	padding: 1em 0 1em 4em;
}

/*** FIN TEXTOS INDEX ***/

.titulo-seccion{
	text-align: center;
	margin-bottom: 2.5em;
	margin-top: 2.5em;
}

.titulo-seccion span{
	color: #000000;
	border-bottom: 1px solid #000000;
	font-size: 1.8em;
}

.avatar-profesores{
	text-align: center;
	padding-bottom: 3em;
}

.comandos{
	display: inline-block;
}

#avatar{
	margin-left: 8em;
}

.comandos figure img{
	border-radius: 50%;
	width: 10em;
}

.comandos span{
	display: block;
}

#nombre-prof{
	color: #333333;
	font-family: 'Lato-Bold';
	font-size: 1.3em;
	margin-top: 0.5em;
}

.comandos a{
	color: #ff4900;
	font-size: 1.1em;
	font-family: 'Lato-Bold';
	text-decoration: underline;
}

.comandos a:hover{
	color: #db4009;
}

/*
	EMPEZAR.PHP
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
#header2{
	background: #000000;
}

#body-empezar{
	background:linear-gradient(to right, #021c35 0%,#021c35 25%,#fefefe 25%,#fefefe 100%);
	overflow: hidden;
}

.menu,
.contenido-empezar{
	display:inline-block;
	vertical-align:top;
}

.menu{
	font-family: 'Lato-Bold';
	font-size: 1em;
	padding: 3em 0 0 2em;
	width: 25%;
}

.contenido-empezar{
	width: 72%;
	padding-bottom: 4em;
}

.contenido-documentacion li{
	list-style: none;
}

.capitulo1{
	margin-bottom: 1.1em;
}

.capitulo1 li{
	list-style: none;
}

.capitulo1 li a:hover{
	text-decoration: none;
	color: #FFFFFF;
}

#titulo-capitulo{
	font-size: 1.2em;
	color: #FFFFFF;
}

ul.subcategoria {
  border-left: 1px solid #4193cf;
  margin-top: 0.8em;
  position: relative;
}

ul.subcategoria li{
	padding: 0.3em;
}

.menu,
.contenido-empezar {
	overflow-y: auto;
	overflow-x: hidden;
	height: 771px;
}

.hide{
	display: none;
}

.subcategoria .active {
	color: #FFFFFF !important;
}

.subcategoria>li:hover {
	color: #FFFFFF;
}

.subcategoria>li {
	color: #4193cf;
	cursor: pointer;
}

.text{
	padding-right: 1.5em;
	padding-bottom: 2em;
}






/*
	FOOTER
---------------------------------------------------------------
-------------------------------------------------------------*/
h5{
	color: #666666;
	text-align: center;
	font-family: 'Lato-Bold';
}